# Documentation - Climate Change in France Visualisation

In [1]:
# Libraries
import pandas as pd
import requests
from zipfile import ZipFile
from pathlib import Path

## 1. Data Acquisition

### 1.1. Données changement climatique - Longues Séries Homogénéisées

[Source Page](https://www.data.gouv.fr/en/datasets/donnees-changement-climatique-lsh-longues-series-homogeneisees/#/resources)

Variables:

- TN: Température minimale/Minimal temperature
- TX: Température maximale/Maximal temperature
- RR: Précipitations/Precipitation
- IN: Insolation/Sunshine duration

In [2]:
LSH_SOURCES = {
    "IN": {
        "dataset": "https://www.data.gouv.fr/fr/datasets/r/01d6666c-85f5-4369-8090-dd08246639be",
        "list": "https://www.data.gouv.fr/fr/datasets/r/69822f51-14bc-4538-b713-b62d51f32fee",
    },
    "RR": {
        "dataset": "https://www.data.gouv.fr/fr/datasets/r/76fd5cf2-d936-47ca-b7a5-a4b6cc081963",
        "list": "https://www.data.gouv.fr/fr/datasets/r/4aa508b1-d7a8-48c4-a8de-6e76b8641cf6",
    },
    "TN": {
        "dataset": "https://www.data.gouv.fr/fr/datasets/r/f42d8312-1b56-4685-81a7-43f3fd3e12e9",
        "list": "https://www.data.gouv.fr/fr/datasets/r/e2fb0be7-1d32-4f44-944d-e97e5961ce5d",
    },
    "TX": {
        "dataset": "https://www.data.gouv.fr/fr/datasets/r/6c47e287-d1d0-4430-9f1a-c0d4f06e77c3",
        "list": "https://www.data.gouv.fr/fr/datasets/r/f6382e83-c207-4e33-b413-4d6acbb08bf4",
    },
}

In [3]:
DATA_DIR = Path("../data")
RAW_DIR = DATA_DIR / "raw"
if not RAW_DIR.exists():
    RAW_DIR.mkdir(parents=True)

In [4]:
LSH_DIR = RAW_DIR / "LSH"
LSH_ZIP_DIR = LSH_DIR / "zip"
if not LSH_ZIP_DIR.exists():
    LSH_ZIP_DIR.mkdir(parents=True)

for k, v in LSH_SOURCES.items():
    # Create directory
    dir_name = k

    dataset_dir = LSH_DIR / dir_name
    dataset_list_dir = LSH_DIR / "list"
    if not dataset_list_dir.exists():
        dataset_list_dir.mkdir()
    if dataset_dir.exists():
        continue
    dataset_dir.mkdir()

    # Download datasets
    url = v["dataset"]
    r = requests.get(url)
    with open(LSH_ZIP_DIR / f"{k}.zip", "wb") as f:
        f.write(r.content)
    # Unzip
    with ZipFile(LSH_ZIP_DIR / f"{k}.zip", "r") as zip_ref:
        zip_ref.extractall(dataset_dir)

    # Download list
    url = v["list"]
    r = requests.get(url)
    with open(dataset_list_dir / f"list_{k}.csv", "wb") as f:
        f.write(r.content)

### 1.2 Metadata on Meterological Stations

[Source Page](https://www.data.gouv.fr/en/datasets/informations-sur-les-stations-metadonnees/)

In [5]:
METADATA_DIR = RAW_DIR / "metadata"
if not METADATA_DIR.exists():
    METADATA_DIR.mkdir(parents=True)

METADATA_SOURCE = (
    "https://www.data.gouv.fr/fr/datasets/r/1fe544d8-4615-4642-a307-5956a7d90922"
)

r = requests.get(METADATA_SOURCE)
with open(METADATA_DIR / "metadata.geojson", "wb") as f:
    f.write(r.content)

### 1.3 Department Shapes

[Source Page](https://france-geojson.gregoiredavid.fr/)

In [6]:
DEP_DIR = RAW_DIR / "departments_shape"
if not DEP_DIR.exists():
    DEP_DIR.mkdir(parents=True)

DEP_SOURCE = "https://france-geojson.gregoiredavid.fr/repo/departements.geojson"

r = requests.get(DEP_SOURCE)
with open(DEP_DIR / "departments.geojson", "wb") as f:
    f.write(r.content)

## 2. Data Transformation

In [7]:
PROCESSED_DIR = DATA_DIR / "processed"
if not PROCESSED_DIR.exists():
    PROCESSED_DIR.mkdir(parents=True)

### 2.1 Extract all stations and their metadata

In [8]:
import json

with open("../data/raw/metadata/metadata.geojson", "r") as f:
    station_metadata = json.load(f)

station_metadata = pd.json_normalize(
    [v for _, v in station_metadata["features"].items()]
)
station_metadata_variables = {
    "properties.NUM_POSTE": "station_id",
    "properties.NOM_USUEL": "station_name",
    "properties.NUM_DEP": "department_id",
    "properties.ALTI": "altitude",
    "properties.LAT_DG": "latitude",
    "properties.LON_DG": "longitude",
    "properties.COMMUNE": "city",
}
station_metadata = station_metadata[station_metadata_variables.keys()]
station_metadata = station_metadata.rename(columns=station_metadata_variables)
station_metadata["station_id"] = station_metadata["station_id"].astype(int)
station_metadata.to_csv(PROCESSED_DIR / "station_metadata.csv", index=False)
station_metadata.head()

,station_id,station_name,department_id,altitude,latitude,longitude,city
0,1014002,ARBENT,1,534,46.278167,5.669000,ARBENT
1,1027003,BALAN_AERO,1,196,45.833000,5.106667,BALAN
2,1028001,BANEINS,1,243,46.122000,4.904500,BANEINS
3,1033002,BELLEGARDE,1,350,46.086500,5.814167,VALSERHONE
4,1034004,BELLEY,1,330,45.769333,5.688000,BELLEY

### 2.2 Time Series Aggregation

In [9]:
list_IN = pd.read_csv("../data/raw/LSH/list/list_IN.csv", sep=";", header=2)
list_RR = pd.read_csv("../data/raw/LSH/list/list_RR.csv", sep=";", header=2)
list_TN = pd.read_csv("../data/raw/LSH/list/list_TN.csv", sep=";", header=2)
list_TX = pd.read_csv("../data/raw/LSH/list/list_TX.csv", sep=";", header=2)


def filter_df_list(df: pd.DataFrame, name: str) -> pd.DataFrame:
    df = df.copy()
    col_to_keep = ["nom_fichier", "num_poste"]
    df = df[col_to_keep]
    df.rename(
        columns={"nom_fichier": "file_name", "num_poste": "station_id"}, inplace=True
    )
    df["variable"] = name
    return df


list_IN = filter_df_list(list_IN, "IN")
list_RR = filter_df_list(list_RR, "RR")
list_TN = filter_df_list(list_TN, "TN")
list_TX = filter_df_list(list_TX, "TX")

In [10]:
df_list = pd.concat([list_IN, list_RR, list_TN, list_TX])
df_list = df_list[["station_id", "variable", "file_name"]]
df_list = df_list.reset_index()
df_list.drop("index", axis=1, inplace=True)

df_list.to_csv(PROCESSED_DIR / "aggregated_list.csv", index=True)
df_list

      station_id variable            file_name
0        6088001       IN  SH_MIN006088001.csv
1       13054001       IN  SH_MIN113054001.csv
2       16089001       IN  SH_MIN016089001.csv
3       18033001       IN  SH_MIN018033001.csv
4       21473001       IN  SH_MIN021473001.csv
...          ...      ...                  ...
1493    91103001       TX  SH_MTX291103001.csv
1494    91184001       TX  SH_MTX091184001.csv
1495    94068001       TX  SH_MTX394068001.csv
1496    95078001       TX  SH_MTX295078001.csv
1497    95088001       TX  SH_MTX395088001.csv

[1498 rows x 3 columns]

In [11]:
def process_list_row(row: pd.Series) -> pd.DataFrame:
    station_id = row["station_id"]
    variable = row["variable"]
    file_name = row["file_name"]

    if variable == "IN":
        header = 11
    else:
        header = 12

    df = pd.read_csv(LSH_DIR / variable / file_name, sep=";", header=header)
    df = df[["YYYYMM", "VALEUR"]]
    df.columns = ["timestamp", "value"]
    df["station_id"] = station_id
    df["variable"] = variable

    return df

In [12]:
measurements = pd.DataFrame(columns=["timestamp", "value", "station_id", "variable"])
for row in df_list.iterrows():
    row_df = process_list_row(row[1])
    measurements = pd.concat([measurements, row_df], ignore_index=True)
measurements.head()

/tmp/ipykernel_74079/3857595774.py:4: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, row_df], ignore_index=True)

  timestamp  value station_id variable
0    193101  164.6    6088001       IN
1    193102  160.9    6088001       IN
2    193103  120.9    6088001       IN
3    193104  256.6    6088001       IN
4    193105  289.7    6088001       IN

In [13]:
measurements = measurements[["timestamp", "station_id", "variable", "value"]]
measurements = measurements.sort_values(["timestamp", "station_id", "variable"])
measurements["timestamp"] = pd.to_datetime(measurements["timestamp"], format="%Y%m")
measurements["station_id"] = measurements["station_id"].astype(str)
measurements

         timestamp station_id variable  value
0       1931-01-01    6088001       IN  164.6
1008    1931-01-01   13054001       IN  135.1
2016    1931-01-01   16089001       IN   74.3
3024    1931-01-01   18033001       IN   62.1
4032    1931-01-01   21473001       IN   77.3
...            ...        ...      ...    ...
1031800 2022-12-01   95078001       TN    2.2
1261227 2022-12-01   95078001       TX    7.3
812927  2022-12-01   95088001       RR   55.4
1032640 2022-12-01   95088001       TN    2.9
1262067 2022-12-01   95088001       TX    7.6

[1262068 rows x 4 columns]

### 2.3 Store data to a SQLite instance

In [14]:
import sqlite3

if (DATA_DIR / "data.db").exists():
    (DATA_DIR / "data.db").unlink()

conn = sqlite3.connect(DATA_DIR / "data.db")
measurements.to_sql(
    "measurements", conn, if_exists="fail", index=True, index_label="id"
)
station_metadata.to_sql(
    "stations", conn, if_exists="fail", index=True, index_label="id"
)

2394

### 3. Miscellaneous

### 3.1 Mismatch between `measurements` and `station_metdata`

In [40]:
stations_in_measurements = set(measurements["station_id"].unique().astype(str))
stations_in_metadata = set(station_metadata["station_id"].unique().astype(str))

There are 51 stations in LSH dataset, amongst 993 stations, that do not have metadata information from the `station_metadata` dataset.

In [42]:
missing_stations = stations_in_measurements - stations_in_metadata
display(len(missing_stations))
display(missing_stations)

51

{'11388001',
 '12036002',
 '12116002',
 '12294003',
 '13099001',
 '19157001',
 '25170001',
 '25621001',
 '26059001',
 '26211001',
 '30153003',
 '30212002',
 '34233001',
 '34284001',
 '38006001',
 '38082001',
 '38442001',
 '39240001',
 '4088001',
 '42042001',
 '48014003',
 '48019004',
 '48036001',
 '48045001',
 '48087002',
 '48126001',
 '48140005',
 '48145005',
 '5004001',
 '5013003',
 '5027001',
 '5032002',
 '5063001',
 '51009001',
 '5110001',
 '5127001',
 '64157001',
 '65031005',
 '65032003',
 '65123007',
 '71010004',
 '7119001',
 '7129001',
 '7186001',
 '73232001',
 '74081002',
 '74289001',
 '84007002',
 '9029004',
 '9100004',
 '9306003'}